body{
    background-color: black;
}

#content{
    text-align: center;
    border-radius: 10px;
    box-shadow: 30px 30px 30px rgb(5, 5, 5);
    background-color: rgb(224, 126, 203);
    height:fit-content;
    width: fit-content;
    margin-left: 50%;
    margin-right: 50%;
    padding-right: 45px;

}

#main{ 
    display: flex;
    justify-content: center; 
    background-color: rgb(126, 12, 107);
    border-radius: 20px;
}

#card{
    box-shadow: 5px 5px 5px;
}

